<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </head>

    <body>
        <div class="container">
        <h3> Info for {{ name }}</h3>
        <div class="row">
            <ul class="collapsible popout" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">Subdomains ({{ subdomains|length }})</div>
                  <div class="collapsible-body">
                      <ul style="list-style-type: none; padding: 20px;">
                        {% for sub in subdomains%}
                            <li> {{ sub }} </li>
                        {% endfor %}
                      </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">Web apps ({{ webapps|length }})</div>
                  <div class="collapsible-body">
                      <ul style="list-style-type: none; padding: 20px;">
                        {% for sub in webapps%}
                            <li> {{ sub | replace('http://', '') }} </li>
                        {% endfor %}
                      </ul>
                  </div>
                </li>
            </ul>
        </div>
        
        <h3> Screenshots </h3>
        {% for hosts in setsOfSix%}
            <div class="row">
                {% for host, filename in hosts%}
                    <div class="col l2 m4 s6">
                        <img style="cursor: pointer; padding: 25px; width:95%; border:1px solid #021a40;" onclick="updateModel('{{filename.split('output/')[1]}}', '')" src="{{filename.split('output/')[1]}}"/>
                        <a style="white-space: nowrap; overflow: hidden; display: block; text-overflow: ellipsis;" src="{{host}}">{{host | replace('http://', '')}}</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>

        <!-- Modal Trigger -->
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div id="modalImage"></div>
            </div>
            <div class="modal-footer">
                <p id="modalHost"></p>
            </div>
        </div>

        <script>
            var updateModel = function(fileName, host){
                document.getElementById("modalImage").innerHTML = "<img src=\"" + fileName + "\" style=\"width:100%;\"/>";
                document.getElementById("modalHost").innerHTML = "<a src=\"" + host + "\">" + host + "</a>";
                $('#modal1').openModal();
            }
            $(document).ready(function(){
                $('.modal-trigger').leanModal();
            });
        </script> 

    </body>

</html>
